<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Calendar</title>

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
            integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
            crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    <h1>Лента событий</h1>
    {% if user.is_authenticated %}
        <p>Вошли как {{ user.email }}</p>
        <a class="btn btn-primary" href="{% url 'logout' %}">Выход</a>
    {% else %}
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
            Авторизоваться с Google
        </a>
    {% endif %}
</div>

<div class="container-fluid mh-100 overflow-auto">
    {% for event in events %}
        <div>
            <h2>{{ event.summary }}</h2>
            <p>{{ event.start }}</p>
        </div>
    {% endfor %}
</div>
<script>
    setTimeout(function() {
        location.reload();
    }, 10000);
</script>
</body>
</html>
